{
    "abc": true,
    "b": 1,
    "c": 1.0,
    "e": 1.3,
    "adr": {
        "ruleset": {
            "cost_modifiers": {
                (0, 1, 0, 0, 0, 0): 1.0,
            },
        },
    },
}